h1{
    color: red;
    font-size: 20px;
    text-align: center;
}

body{
    font-family: "Poppins", sans-serif;
}

.Messi{
    color: blue;
    font-size: 20px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}