@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body{
    background-color: #749691;
}

h1 {
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

div {
    height: 600px;
    width: 40%;
    margin-left: 30%;
}

button{
    width: 100%;
    font-size: 26px;
    font-family: "Comfortaa", sans-serif;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 35px;
    background-color: #1E3731;
    color: #FFFFFF;
}