@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color: #749691;
}

.Name-Page {
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 0px 4px 14.9px rgba(0, 0, 0, 0.5);
}

div {
    background-color: #1E3731;
    margin-top: 10px;
    border-radius: 25px;
}

.divIzquierdo{
    float:left;
    width: 50%;
    background-color: #749691;
}

.divDerecho {
    float: right;
    width: 50%;
    background-color: #749691;
}

.box {
    flex: 1;
    padding: 10px;
    background-color: #1E3731;
    border-radius: 25px;
    display: block;
}

#selecProy{
    height: 100px;
    margin: 0px 110px;
}

#agregarTarea {
    height: 500px;
    margin: 10px 110px;
}

#agregarTarea > h1 {
    font-family: "Comfortaa", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    margin-left: 25px;
}

#agregarTarea > label {
    width: 35%;
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#agregarTarea > input {
    display: inline-block;
    width: 90%;
    height: 20px;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#agregarTarea > #storyPoints {
    width: 30%;
}

#agregarTarea > textarea {
    width: 91%;
    height: 100px;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 8px;
}

button {
    background-color: #115511;
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 50%;
    height: 40px;
}

#tareas {
    height: 700px;
    margin: 0px 110px;
    overflow: auto;
    max-height: 800px;
}

#tareas::-webkit-scrollbar {
    width: 10px;
}

#tareas::-webkit-scrollbar-thumb {
    background-color: #1E3731;
    border-radius: 5px;
}

/* Estilo de la pista dentro de un div */
#tareas::-webkit-scrollbar-track {
    background-color: #749691;
    border-radius: 8px;
}

.tarea{
    background-color: #D9D9D9;
    height: 250px;
    border-radius: 20px;
    padding: 1px;
    margin-bottom: 20px;
}

.tarea > h1{
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-left: 25px;
}

.tarea>h2 {
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25px;
}

.tarea>p{
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 25px;
}

.tarea > button {
    background-color: #115511;
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width:25%;
    height: 30px;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Comfortaa", sans-serif;
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
    display: block;
}

select {
    width: 90%;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}